In [1]:
# Import libraries dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline  

# Print libraries version
lib = {'Pandas':pd, 'Numpy':np, 'Seaborn':sns}
for k, v in lib.items():
    ver = v.__version__
    print('{} Version {}'.format(k, ver))

Pandas Version 0.23.4
Numpy Version 1.15.1
Seaborn Version 0.9.0

In [3]:
# Set path to data file
url = 'https://raw.githubusercontent.com/Sparrow-72/NSW_Pol/master/Data_sets/Raw_data/Penalty_notice.csv'

In [48]:
# Read the data as csv file
df = pd.read_csv(url)

In [49]:
# Look at the data header for an initial idea of the data
df.head(3)

,OFFENCE_FINYEAR,OFFENCE_MONTH,OFFENCE_CODE,OFFENCE_DESC,LEGISLATION,SECTION_CLAUSE,FACE_VALUE,CAMERA_IND,CAMERA_TYPE,LOCATION_CODE,...,RED_LIGHT_CAMERA_IND,SPEED_CAMERA_IND,SEATBELT_IND,MOBILE_PHONE_IND,PARKING_IND,CINS_IND,FOOD_IND,BICYCLE_TOY_ETC_IND,TOTAL_NUMBER,TOTAL_VALUE
0,2015-2016,01/07/2015,82616,Park continuously for longer than permitted,ROAD RULES 2014,205,106,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,23009,2438954
1,2012-2013,01/01/2013,24703,Exceed speed limit over 10km/h - Camera Detected,ROAD RULES 2008,20,1215,Y,Mobile Digital Speed Camera,28330.0,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,1,1215
2,2012-2013,01/01/2013,64007,Proceed through red traffic arrow,ROAD RULES 2008,60,397,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,37318

In [14]:
# Get some basic info from the data frame, specially the data types, if there is missing values, and memory usage
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285444 entries, 0 to 285443
Data columns (total 25 columns):
OFFENCE_FINYEAR         285444 non-null object
OFFENCE_MONTH           285444 non-null object
OFFENCE_CODE            285444 non-null int64
OFFENCE_DESC            285444 non-null object
LEGISLATION             285444 non-null object
SECTION_CLAUSE          285444 non-null object
FACE_VALUE              285444 non-null int64
CAMERA_IND              189348 non-null object
CAMERA_TYPE             188415 non-null object
LOCATION_CODE           188440 non-null float64
LOCATION_DETAILS        188440 non-null object
SCHOOL_ZONE_IND         27379 non-null object
SPEED_BAND              192139 non-null object
SPEED_IND               162607 non-null object
POINT_TO_POINT_IND      2140 non-null object
RED_LIGHT_CAMERA_IND    28395 non-null object
SPEED_CAMERA_IND        152634 non-null object
SEATBELT_IND            1550 non-null object
MOBILE_PHONE_IND        282 non-null object
PARKING_IND             10135 non-null object
CINS_IND                707 non-null object
FOOD_IND                912 non-null object
BICYCLE_TOY_ETC_IND     2393 non-null object
TOTAL_NUMBER            285444 non-null int64
TOTAL_VALUE             285444 non-null int64
dtypes: float64(1), int64(4), object(20)
memory usage: 294.7 MB

In [50]:
# Get a list of dtypes by the columns
dtype_list = ['object', 'category', 'int64', 'float64']
for i in dtype_list:
    d_type = df.select_dtypes(include=i).columns.tolist()
    print('Datatype {} = {}'.format(i, d_type))

Datatype object = ['OFFENCE_FINYEAR', 'OFFENCE_MONTH', 'OFFENCE_DESC', 'LEGISLATION', 'SECTION_CLAUSE', 'CAMERA_IND', 'CAMERA_TYPE', 'LOCATION_DETAILS', 'SCHOOL_ZONE_IND', 'SPEED_BAND', 'SPEED_IND', 'POINT_TO_POINT_IND', 'RED_LIGHT_CAMERA_IND', 'SPEED_CAMERA_IND', 'SEATBELT_IND', 'MOBILE_PHONE_IND', 'PARKING_IND', 'CINS_IND', 'FOOD_IND', 'BICYCLE_TOY_ETC_IND']
Datatype category = []
Datatype int64 = ['OFFENCE_CODE', 'FACE_VALUE', 'TOTAL_NUMBER', 'TOTAL_VALUE']
Datatype float64 = ['LOCATION_CODE']

In [51]:
# Pass a variable with the list of columns to drop from the data frame
df_drop = df.drop(['LEGISLATION', 'SECTION_CLAUSE'], axis='columns')

In [94]:
# Drop the columns from the data frame
df_lean = pd.DataFrame(df_drop)

In [143]:
# Check for missing values in columns with single unique values 
# Create a list for the columns
single_uniq = []
for k, v in df_lean.nunique().to_dict().items():
    miss_ = df_lean[k].isnull().sum()
    if miss_ > 0:
        if v == 1:
            unique_lst = pd.unique(df_lean[k].values.ravel()).tolist()
            single_uniq.append(k)
            print('{} = {}, ___________Values {}'.format(k,v, unique_lst))

CAMERA_IND = 1, ___________Values [nan, 'Y']
SCHOOL_ZONE_IND = 1, ___________Values [nan, 'Y']
SPEED_IND = 1, ___________Values [nan, 'Y']
POINT_TO_POINT_IND = 1, ___________Values [nan, 'Y']
RED_LIGHT_CAMERA_IND = 1, ___________Values [nan, 'Y']
SPEED_CAMERA_IND = 1, ___________Values [nan, 'Y']
SEATBELT_IND = 1, ___________Values [nan, 'Y']
MOBILE_PHONE_IND = 1, ___________Values [nan, 'Y']
PARKING_IND = 1, ___________Values ['Y', nan]
CINS_IND = 1, ___________Values [nan, 'Y']
FOOD_IND = 1, ___________Values [nan, 'Y']
BICYCLE_TOY_ETC_IND = 1, ___________Values [nan, 'Y']

In [144]:
# Check for missing values in columns with multiple unique values 
# Create a list for the columns
multi_uniq = []
for k, v in df_lean.nunique().to_dict().items():
    miss_ = df_lean[k].isnull().sum()
    if miss_ > 0:
        if v > 1:
            unique_lst = pd.unique(df_lean[k].values.ravel()).tolist()
            multi_uniq.append(k)
            print('{} = {}, ___________Values {}'.format(k,v, unique_lst[:3]))

CAMERA_TYPE = 7, ___________Values [nan, 'Mobile Digital Speed Camera', 'Red Light / Speed Camera']
LOCATION_CODE = 2295, ___________Values [nan, 28330.0, 7120.0]
LOCATION_DETAILS = 1982, ___________Values [nan, 'WOODWARD STREET ORANGE SOUTHBOUND', 'SOUTH DOWLING STREET SURRY HILLS NORTHBOUND']
SPEED_BAND = 6, ___________Values [nan, 'EXCEED SPEED OVER 10KM/H', 'NOT STOP AT RED LIGHT']

In [145]:
# Fill the missing values, in this case 'N' is appropriate
df_lean[single_uniq] = df_lean[single_uniq].fillna('N')
df_lean[multi_uniq] = df_lean[multi_uniq].fillna('N')

In [174]:
# Create variabled for data type conversion
# Convert to datetime
date_time = 'OFFENCE_MONTH'

# Convert to ordinal
ord_list = ['OFFENCE_FINYEAR','OFFENCE_DESC', 'CAMERA_IND', 'CAMERA_TYPE', 'LOCATION_CODE', 'LOCATION_DETAILS', 'SCHOOL_ZONE_IND', 'SPEED_BAND', 'SPEED_IND', 
        'POINT_TO_POINT_IND', 'RED_LIGHT_CAMERA_IND', 'SPEED_CAMERA_IND', 'SEATBELT_IND', 'MOBILE_PHONE_IND', 'PARKING_IND', 
        'CINS_IND', 'FOOD_IND', 'BICYCLE_TOY_ETC_IND']

# convert to float
float_list = ['FACE_VALUE', 'TOTAL_VALUE']

# Convert to int
int_list = ['OFFENCE_CODE', 'TOTAL_NUMBER']

In [179]:
# Convert to datetime so to read as time series
df_lean[date_time] = pd.to_datetime(df_lean[date_time])

# Convert to ordinal, doing so will save memory
df_lean[ord_list] = df_lean[ord_list].astype('category')

# Convert to int
df_lean[int_list] = df_lean[int_list].astype('int64')

# Convert to float
df_lean[float_list] = df_lean[float_list].astype('float64')

In [180]:
# Final check to make sure the data frame is as expected. Note, how the memory usage was reduced, due to data type conversion
df_lean.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285444 entries, 0 to 285443
Data columns (total 23 columns):
OFFENCE_FINYEAR         285444 non-null category
OFFENCE_MONTH           285444 non-null datetime64[ns]
OFFENCE_CODE            285444 non-null int64
OFFENCE_DESC            285444 non-null category
FACE_VALUE              285444 non-null float64
CAMERA_IND              285444 non-null category
CAMERA_TYPE             285444 non-null category
LOCATION_CODE           285444 non-null category
LOCATION_DETAILS        285444 non-null category
SCHOOL_ZONE_IND         285444 non-null category
SPEED_BAND              285444 non-null category
SPEED_IND               285444 non-null category
POINT_TO_POINT_IND      285444 non-null category
RED_LIGHT_CAMERA_IND    285444 non-null category
SPEED_CAMERA_IND        285444 non-null category
SEATBELT_IND            285444 non-null category
MOBILE_PHONE_IND        285444 non-null category
PARKING_IND             285444 non-null category
CINS_IND                285444 non-null category
FOOD_IND                285444 non-null category
BICYCLE_TOY_ETC_IND     285444 non-null category
TOTAL_NUMBER            285444 non-null int64
TOTAL_VALUE             285444 non-null float64
dtypes: category(18), datetime64[ns](1), float64(2), int64(2)
memory usage: 17.8 MB

In [189]:
# Set path to save data file
file_path_to_save = '..\Data_sets\Intermediate_data'

In [192]:
# Save data file to csv format
df_lean.to_csv(file_path_to_save+'\pol_data_clean.csv', index=False)