In [2]:
# Import libraries
import pandas as pd
import numpy as np

In [10]:
pd.__version__

'0.23.0'

In [16]:
# Path to data file
url = 'https://raw.githubusercontent.com/Sparrow-72/NSW_Pol/master/Data_sets/Raw_data/Penalty_notice.csv'

In [17]:
df = pd.read_csv(url)

In [18]:
df.head(3)

,OFFENCE_FINYEAR,OFFENCE_MONTH,OFFENCE_CODE,OFFENCE_DESC,LEGISLATION,SECTION_CLAUSE,FACE_VALUE,CAMERA_IND,CAMERA_TYPE,LOCATION_CODE,...,RED_LIGHT_CAMERA_IND,SPEED_CAMERA_IND,SEATBELT_IND,MOBILE_PHONE_IND,PARKING_IND,CINS_IND,FOOD_IND,BICYCLE_TOY_ETC_IND,TOTAL_NUMBER,TOTAL_VALUE
0,2015-2016,01/07/2015,82616,Park continuously for longer than permitted,ROAD RULES 2014,205,106,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,23009,2438954
1,2012-2013,01/01/2013,24703,Exceed speed limit over 10km/h - Camera Detected,ROAD RULES 2008,20,1215,Y,Mobile Digital Speed Camera,28330.0,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,1,1215
2,2012-2013,01/01/2013,64007,Proceed through red traffic arrow,ROAD RULES 2008,60,397,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,37318